ul {
  list-style-type: none;
}
hr {
  margin: 0;
  border-top: 2px solid #707070;
}
input {
  border-radius: 40px;
  background-color: #f1f1f1;
  transition: all 200ms ease-out;
  margin: 0 auto;
  width: 100%;
  border: 0px;
  text-align: center;
  font-size: 20px;
  color: #707070;
}
input:hover {
  cursor: pointer;
}
input:focus-visible {
  outline-color: #f5e1da;
}

.container {
  max-width: 40%;
  margin-top: 50px;
  font-family: "Nunito", sans-serif;
  color: #707070;
}

.card {
  border-radius: 5px;
  background-color: #f5e1da;
  padding: 20px;
}

.city {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 30px;
}
.name {
  text-align: center;
  font-size: 30px;
  border-radius: 40px;
  background-color: #f1f1f1;
  margin-top: 20px;
  padding: 60px;
}

.icon {
  width: 80px;
  display: block;
  margin: 0 auto;
}
.date {
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
}

.weather-description {
  margin: 40px 5px 0px 5px;
  /*position: relative;*/
  font-weight: bolder;
  /*padding: 30px;*/
}
.description {
  text-align: center;
  font-size: 20px;
}
i {
  font-size: 45px;
}
.wind {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}
.wind-speed {
  margin-top: 21px;
}

.humidity {
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
}
.humidity-text {
  margin-top: 17px;
}

.humidity-windy {
  text-align: center;
  font-size: 15px;
  margin: 0;
  letter-spacing: 3px;
}
.current-temperature {
  text-align: center;
  padding: 50px;
}

.current-temperature h1 {
  font-size: 80px;
}

.units {
  font-size: 16px;
}

.week-days {
  text-align: center;
  border: 1px solid #707070;
  border-radius: 20px;
  padding-top: 10px;
  margin: 10px;
  font-size: 10px;
  transition: all 200ms ease-out;
}

.week-days:hover {
  border: 1px solid #707070;
  background: #707070;
  color: white;
  cursor: pointer;
}

.developer {
  font-size: 10px;
  margin-top: 10px;
}

.current-temperature .active {
  color: #707070;
  cursor: default;
  text-decoration: none;
}

a {
  cursor: default;
}
